# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Poetry / Virtualenv
# ===============================
.venv/
poetry.lock

# ===============================
# FastAPI / Uvicorn
# ===============================
*.log

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# MacOS
# ===============================
.DS_Store

# ===============================
# Editors
# ===============================
.vscode/
.idea/

# ===============================
# Test / Coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/
